@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root {
    --offwhite: #F5F5F5;
    --darkgrey: #383838;
    --mediumgrey: #474747;
    --holidayred: #F50606;
    --eventred: #EC6D6D;
    --eventyellow: #DCE000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body {
    background-color: var(--offwhite);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 100vw;
    height: 100vh;
}

.main__calendar {
    width: 100vw;
    height: 55vh;
    border-radius: 0 0px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgrey);
    box-shadow: 0px 9.3px 9.3px hsl(0deg 0% 0% / 0.36);
}

.main__head {
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    color: var(--offwhite);
}

.header__h1 {
    font-size: 20px;
}

.header_button_left, .header_button_right {
    background-color: var(--darkgrey);
    border-style: none;
    font-size: 1.5em;
    color: var(--offwhite);
    cursor: pointer;

}

/* Händelser */
.main__event-container {
    border: 2px solid #000000;
    margin-top: 2em;
    padding-left: 1em;
}

.events {
    display: grid;
    grid-template-columns: 2em 1fr;
    padding: 1em 0;
}

.event-check {
    display: flex;
    justify-self: flex-start;
    grid-column: 1;
    grid-row: 1;
    width: 1.2em;
}

.event-check:hover,
.event-heading:hover,
.event-time:hover {
    cursor: pointer;
}

.event-heading {
    display: flex;
    justify-self: flex-start;
    grid-column: 2;
    grid-row: 1;
}

.event-time {
    display: flex;
    justify-self: flex-start;
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 1em;
    border-bottom: 1px solid #000000;
    width: 95%;
}

.event-heading {
    color: var(--darkgrey)
}

/* tablet */
@media (min-width:481px) and (max-width:768px) {
    .main {
        width: 90vw;

    }

    .main__calendar {
        width: 90vw;
    }

    .main__events {
        width: 90vw;
    }
}


/* laptop, small screens */

@media (min-width:769px) and (max-width:1024px) {
    .main {
        width: 90vw;

    }

    .main__calendar {
        width: 90vw;
    }

    .main__events {
        width: 90vw;
    }
}

/* desktop, larger screens */
@media (min-width:1025px) {
    .main {
        width: 90vw;
        max-width: 1024px;

    }

    .main__calendar {
        width: 90vw;
        max-width: 1024px;
    }

    .main__events {
        width: 90vw;
        max-width: 1024px;
    }
}


/* kalender  */

#calendar {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.week__days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--offwhite);
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--offwhite)
}

.day:hover {
    background-color: var(--offwhite);
    color: black;
}

.white > .day {
    color:#747474;
    width: 40px;
    height: 40px;
}